a.button {
    border: 1px solid #fff;
    padding: 8px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: all .7s ease;
}

a.button:hover {
    background: #fff;
    color:  rgb(62, 105, 254);
    transition: all .7s ease;
}